@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .drawer-mobile {
        width: 335px;
        height: 200px;
        background-image: url("images/drawers.jpg");
        background-position-y: -19px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
